TestEleccionesWS/Service References/MilitanteWs/MilitanteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56837/Service/MilitanteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EleccionesWS.Domain" />
  <xs:element name="BuscarMilitante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMilitante" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMilitanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EleccionesWS.Domain" minOccurs="0" name="BuscarMilitanteResult" nillable="true" type="q1:Militante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMilitantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EleccionesWS.Domain" minOccurs="0" name="filtro" nillable="true" type="q2:FiltroListarMilitante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMilitantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EleccionesWS.Domain" minOccurs="0" name="ListarMilitantesResult" nillable="true" type="q3:ArrayOfMilitante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilitanteAsignadoAOed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMilitante" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idOed" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilitanteAsignadoAOedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MilitanteAsignadoAOedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>