TestEleccionesWS/Service References/MesaWs/MesaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EleccionesWS.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EleccionesWS.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Mesa">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCentroVotacion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdMesa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdOed" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mesa" nillable="true" type="tns:Mesa" />
</xs:schema>