TestEleccionesWS/Service References/Elecciones2/ActaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EleccionesWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EleccionesWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Acta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Detalles" nillable="true" type="tns:ArrayOfDetalleActa" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMesa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMilitantePresidente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdMilitanteRegistro" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdMilitanteSecretario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdMilitanteTercerMiembro" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NombreArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Acta" nillable="true" type="tns:Acta" />
  <xs:complexType name="ArrayOfDetalleActa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleActa" nillable="true" type="tns:DetalleActa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleActa" nillable="true" type="tns:ArrayOfDetalleActa" />
  <xs:complexType name="DetalleActa">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantVotos" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdMesa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMilitante" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleActa" nillable="true" type="tns:DetalleActa" />
</xs:schema>